src/main/resources/store.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="gamestoresoap"
           xmlns:tns="gamestoresoap">

    <xs:element name="createUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getUsersRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="users" type="tns:User" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="username" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="removeUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addItemToLibraryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="gameId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addItemToLibraryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getLibraryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLibraryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="games" type="tns:Game" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getLibraryUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLibraryUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:User"/>
                <xs:element name="games" type="tns:Game" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeItemFromLibraryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="gameId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="removeItemFromLibraryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createGameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gameTitle" type="xs:string"/>
                <xs:element name="gamePrice" type="xs:double"/>
                <xs:element name="gameDeveloperId" type="xs:int"/>
                <xs:element name="gameCategoryId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createGameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getGameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gameId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getGameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="game" type="tns:Game"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getGamesRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getGamesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="games" type="tns:Game" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateGameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gameId" type="xs:int"/>
                <xs:element name="gameTitle" type="xs:string"/>
                <xs:element name="gamePrice" type="xs:double"/>
                <xs:element name="gameDeveloperId" type="xs:int"/>
                <xs:element name="gameCategoryId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateGameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeGameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="gameId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="removeGameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createCategoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categoryName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createCategoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCategoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categoryId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getCategoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="category" type="tns:Category"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCategoriesRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getCategoriesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categories" type="tns:Category" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateCategoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categoryId" type="xs:int"/>
                <xs:element name="categoryName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateCategoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeCategoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categoryId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="removeCategoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createDeveloperRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="developerName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="createDeveloperResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getDeveloperRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="developerId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getDeveloperResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="developer" type="tns:Developer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getDevelopersRequest">
        <xs:complexType/>
    </xs:element>
    <xs:element name="getDevelopersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="developers" type="tns:Developer" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateDeveloperRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="developerId" type="xs:int"/>
                <xs:element name="developerName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateDeveloperResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="removeDeveloperRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="developerId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="removeDeveloperResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="answer" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="User">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Library">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="user" type="tns:User"/>
            <xs:element name="games" type="tns:Game" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Game">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="price" type="xs:double"/>
            <xs:element name="developer" type="tns:Developer"/>
            <xs:element name="category" type="tns:Category"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Category">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Developer">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>